body {
  background: lightgrey;
}

@media screem and (min-width: 960) {
  body {
    background: pink;
  }
}

ul li ul a {
  display: block;
  width: 10rem;
  height: 5rem;
  background: lightblue;

}

li {
  display: block;
}
