body {
  font-family: "Noto Sans", sans-serif;

  background-color: rgb(203, 198, 175);
  background-size: 4px 4px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  font-weight: 300;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: $letterSpacing;
}

@media screem and (min-width: 960) {
  body {
    background: pink;
  }
}

li a {
  text-decoration: none;
  color: black;
}


li {
  display: block;
}

nav ul li:hover {
  background-color: rgb(223, 223, 176);
}

nav ul li {
  display: block;
  background: rgb(194, 182, 152);
  margin: 0.1rem;
  padding: 0.5rem;
  width: 10rem;
  position: relative;
  float: left;
}

nav ul li ul{
display: none;
padding: 0;
margin: 0;
top: 0;
}

nav ul li:hover ul{
position: absolute;
display: block;
top: 2.3rem;
left: 0.2rem;
}

nav ul:hover li ul li{
float: none;
}

nav {
  margin-left: -2rem;
}

.uf1 {
  width: 20rem;
  height: 20rem;
  background-color: red;
  margin: 2rem;
}
