body {
  font-family: "Noto Sans", sans-serif;

  background-color: rgb(203, 198, 175);
  background-size: 4px 4px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  font-weight: 300;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: $letterSpacing;
  margin: 0;
}

@media screem and (min-width: 960) {
  body {

  }
}

li a {
  text-decoration: none;
  color: black;
}

li {
  display: block;
}

nav ul li:hover {
  background-color: rgb(139, 126, 103);
  color: rgb(203, 198, 175);
}

nav ul li {
  display: block;
  background: rgb(194, 182, 152);
  margin: 0.1rem;
  padding: 0.5rem;
  width: 10rem;
  position: relative;
  float: left;
}

nav ul li ul{
display: none;
padding: 0;
margin: 0;
top: 0;
}

nav ul li:hover ul{
position: absolute;
display: block;
top: 2.3rem;
left: 0.2rem;
}

nav ul li ul a li {
  position: relative;
}

nav ul li ul a li:hover:before{
  content:"";
  display:block;
  width: 25px;
  height: 10px;
  margin-top: 0.2rem;
  left: -1.5rem;
  background: url(img/cursor.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

nav ul:hover li ul li{
float: none;
}

nav {
  margin: 0 auto;
}

.uf1 {
  width: 80rem;
  height: 40rem;
  background-color: rgb(139, 126, 103);
  margin: 2rem auto;
  border-radius: 2rem;
  text-align: left;
  box-shadow: 0.5rem 0.4rem 0.7rem rgb(26, 26, 26);
}

.ejercicio {
  float: left;
  margin-top: 6rem;
  margin-left: 5rem;
  background-image: url(img/2b.jpg);
  background-size: 100%;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0.2rem 0.4rem 0.4rem rgb(26, 26, 26);
}

a:nth-child(3) .ejercicio{
  background-image: url(img/robo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a:nth-child(4) .ejercicio{
  background-image: url(img/9s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a:nth-child(5) .ejercicio{
  background-image: url(img/katana.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ejercicio:hover {
  animation: topmov 3s infinite;
}

@keyframes topmov {
  0% {
    margin-top: 6rem;
  }
  50% {
    margin-top: 5.7rem;
  }
  100% {
    margin-top: 6rem;
  }
}





h1 {
  font-family: "Noto Sans", sans-serif;
  color: rgb(203, 198, 175);
  font-size: 1.5rem;
  margin-top: 10.5rem;
  text-shadow: 0.1rem 0.3rem 0.3rem rgb(26, 26, 26);
}

div a div h1:hover:before {
  content:"";
  width: 35px;
  height: 20px;
  margin-top: 0.4rem;
  margin-left: -2.5rem;
  background: url(img/cursor.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.uf1 h2 {
  font-family: "Noto Sans", sans-serif;
  margin-top: 1.7rem;
  margin-left: 5rem;
  position: absolute;
  color: rgb(203, 198, 175);
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgb(26, 26, 26);
}

h3 {
  color: rgb(139, 126, 103);
  height: 6rem;
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(26, 26, 26);
  width: 30rem;
  padding-top: 2rem;
}
