body {
  background-color: #222;
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  color: #666;
  font-size: 13px;
}

a:link{
  color: #FFF;
}
a:hover{
  color: #FFF;
}
a:active {
  color: #CCC;
}

.estatic {
  background-color: #222;
  position: fixed;
}

li {
  list-style-type: none;
  margin: 0 0 0 0;
  display: inline-block;
  padding: 6px;
  line-height: 30px;
}

ul {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 50px;
  height: 50px;
}

a {
  margin-right: 5px;
}

#menu {
  height: 50px;
  padding: 5px 20px;
  width: 1920px;
}

.espacio {
  background-color: ;
  width: 500px;
  margin-left: 400px;
}

.bloques {
  width: auto;
  color: #FFF;
  margin-top: 50px;
  margin-left: 5px;
  clear: both;
}

h1 {
  font-size: 22px;
  margin-bottom: -65px;
  clear: both;
}

h2 {
  color: #CCC;
  font-size: 14px;
  margin-top: 260px;

}

.film {
  float: left;
  height: 260px;
  width: 175px;
  border-radius: 5px;
  background-size: cover;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
}


.film:hover{
  opacity: 50%;
}


#primera {
background-image: url(../img/1982Koyaanisqatsi.jpg);
}

#segona {
background-image: url(../img/2004YTuQueSabes.jpg);
}

#tercera {
  background-image: url(../img/2005Earthlings.jpg);
}

#quart {
  background-image: url(../img/2007Helvetica.jpg);
}

#cinquena {
  background-image: url(../img/2007Sicko.jpg);
}

#sisena {
  background-image: url(../img/2008Zeitgeist2.jpg);
}

#setena {
  background-image: url(../img/2009ArtAndCopy.jpg);
}

#buitena {
  background-image: url(../img/2009Home.jpg);
}

#novena {
  background-image: url(../img/2009RipARemixManifesto.jpg);
}

#diez {
  background-image: url(../img/2010ComprarTirarComprar.jpg);
}

#once {
  background-image: url(../img/2010InsideJob.jpg);
}

p {
  float: left;
  display: inline;
  font-size: 11px;
  color: #CCC;
}

.right {
  float: right;
}

#visto1 {
  margin-top: 108px;
  text-align: left;
  background-image: url(../img/2011LaDoctrinaDeShock.jpg);
}

#visto2 {
  margin-top: 108px;
  text-align: left;
  background-image: url(../img/2012TheActOfKilling.jpg);
}
